<div ui-view class="header">
User view..... 
</br>
  {{user}}
<br/>
Activity:
  <li ng-repeat="post in posts">
    <div>{{post}}</div>
  </li>

<br/>
<button ng-click="getEvents(user.id)">Events</button>
  <li ng-repeat="event in events">
    <div>{{event}}</div>
  </li>
<br/>
<button ng-click="getConversations(user.id)">Conversations</button>
  <li ng-repeat="convo in conversations">
    <div>{{convo}}</div>
  </li>
<br/>
<button ng-click="getFollowers(user.id)">Followers</button>
  <li ng-repeat="follower in followers">
    <div>{{follower}}</div>
  </li>

<button ng-click="getFollowing(user.id)">Following</button>
  <li ng-repeat="followed in following">
    <div>{{followed}}</div>
  </li>
</div>