<div class="header">
User view...
<br/>
User:
<br/>
  {{user}}
<br/>
Posts:
<br/>
  <li ng-repeat="post in posts">
    <div>{{post}}</div>
  </li>
<br/>

<button ng-click="getEvents(user.id)">Events</button>
  <li ng-repeat="event in events">
    <div>{{event}}</div>
  </li>
<br/>

<button ng-click="getAddedEvents(user.id)">Added Events</button>
  <li ng-repeat="aevent in addedEvents">
    <div>{{aevent}}</div>
<!--       <br/>Image (if you used AWS key in Rails app): <br/> <img ng-src="{{aevent.photo.url}}">
 -->      <!-- Example of how to get necessary images (with .photo.url) -->
  </li>
<br/>

<button ng-click="getInvitedEvents(user.id)">Invited Events</button>
  <li ng-repeat="ievent in invitedEvents">
    <div>{{ievent}}</div>
  </li>
<br/>

<button ng-click="getConversations(user.id)">Conversations</button>
  <li ng-repeat="convo in conversations">
    <div>{{convo}}</div>
  </li>
<br/>

<button ng-click="getGroups(user.id)">Groups</button>
  <li ng-repeat="group in groups">
    <div>{{group}}</div>
  </li>
<br/>

<button ng-click="getFollowers(user.id)">Followers</button>
  <li ng-repeat="follower in followers">
    <div>{{follower}}</div>
  </li>
<br/>

<button ng-click="getFollowing(user.id)">Following</button>
  <li ng-repeat="followed in following">
    <div>{{followed}}</div>
  </li>
</div>