<div class="header">
User view...
<br/>
User:
<br/>
  {{user}}
<br/>
Posts:
<br/>
  <li ng-repeat="post in posts">
    <div>{{post}}</div>
  </li>
<br/>


<button ng-click="getConversations(user.id)">Conversations</button>
  <li ng-repeat="convo in conversations">
    <div>{{convo}}</div>
  </li>
<br/>

<button ng-click="getGroups(user.id)">Groups</button>
  <li ng-repeat="group in groups">
    <div>{{group}}</div>
  </li>
<br/>

<button ng-click="getFollowers(user.id)">Followers</button>
  <li ng-repeat="follower in followers">
    <div>{{follower}}</div>
  </li>
<br/>

<button ng-click="getFollowing(user.id)">Following</button>
  <li ng-repeat="followed in following">
    <div>{{followed}}</div>
  </li>
</div>